doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title  Сайт девелоперської компанії
    link(rel="stylesheet", href="style.css")
  body
    .conteiner
      .header
        img.header-img(src="./img/img/header-img.png")
          .line 
          .line-1
          .nav
            .text1 Головна
            .text2 Наші проекти
            .text3 Послуги
            .text4 Новини
            .text5 Контакти
          .text6  Сучасна IT студія
          .text7 Ми створюємо легкі рішення важких задач і проблем
          button.a1 Наші проекти
      .section-1
        .box1
          .text-a1 Ми створюємо мобільні додатки для великих корпорацій
          .text-a2 Lorem Ipsum - це текст-"риба", що часто використовується в пресі та веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст.
          .img-box
            img.img1(scr="./img/img/site.png")
            img.img1(scr="./img/img/site.png")
            img.img1(scr="./img/img/site.png")
          button.a2 Всі послуги
        .bo2
          .text-a3 Високі стандарти розробки
          .text-a4 Lorem Ipsum - це текст-"риба", що часто використовується в пресі та веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст.
          .text-a5 Детальніше про компанію
          img.comp(scr="./asset/img/comp.png")
          line-2
          .box-img-01
            img.img-2(scr="./img/img/projects.png")
            img.img-2(scr="./img/img/projects.png")
            img.img-2(scr="./img/img/projects.png") 
            img.img-2(scr="./img/img/projects.png")
            img.img-2(scr="./img/img/projects.png")
        .section-2
          .box01 
            .pl
            .text-b1 Наші роботи на яких ми спеціалізуємось
            button.button Всі послуги
              img.img-3(src="./img/img/work-text.png")
              img.img-4(src="./img/img/work-text.png")
              img.img-5(src="./img/img/work-text.png")
              .line-2
          .box02 
            .text-b2 Наші проекти
            .text-b3 Lorem Ipsum - це текст-"риба", що часто використовується в пресі та веб-дизайні. Lorem Ipsum є стандартною "рибою" для текстів на латиниці з початку XVI ст.
            .img-box-2
              img.img-6(src="./img/img/code.png")
              img.img-6(src="./img/img/code.png")
              img.img-6(src="./img/img/code.png")
              img.img-6(src="./img/img/code.png")
            button.button1 Всі послуги
        .section-3
          img.bg(src="./img/img/footer-bg.png")
          .text-c1 Відео про нашу роботу
          .text-c2 Просто подивіться, як ми працюємо
          img.city(src="./img/img/city.png")
          .border
            img.arrow(src="./img/img/arrow.png")
            .text-c3 Дивитись відео
          .line-3
          .ch-b1 
            .text-c4 Підпишіться на нашу розсилку
            .text-c5 Корисні статті, акції, новини - отримайте все це зараз!
            .inp-bar
              .inp
                .text-c6 Ваш e-mail
                button.inp-btn Підписатися
        .section-4
          img.ft1(./img/img/footer1.png)
          img.ft2(./img/img/footer2.png)
          img.ft3(./img/img/footer3.png)
          img.ft4(./img/img/footer4.png)
          .line-4
          .text-c7 (с) 2019. Всі права захищені

 