doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title  Сайт девелоперської компанії
    link(rel="stylesheet", href="style.css")
  body
    .conteiner
      .header
        img.header-img(src="./img/header-img.png")
          .line 
          .line-1
          .nav
            .text1 Головна
            .text2 Наші проекти
            .text3 Послуги
            .text4 Новини
            .text5 Контакти
          .text6 Передова IT студія
          .text7 Ми створюємо легкі рішення важких задач і проблем
          button.a1 Наші проекти
      .section-1
        .box1
        .bo2