
*
    margin: 0
    padding: 0    



body
    background: #000

.conteiner
    width: 1920px
    height: 5643px
    background: #FFF
    margin: 0 auto

.header
    width: 1920px
    height: 900px
    position: relative

.line
    width: 1920px
    height: 1px
    background: #A1A1A1
    margin-top: -801px
    z-index: 2
    position: absolute

.line-1
    width: 107px
    height: 2px
    background: #fff
    position: absolute
    margin-top: -801px
    margin-left: 932px

.nav
    height: 20px
    width: 661px
    position: relative
    z-index: 2
    margin-top: -860px
    margin-left: 952px

.text1
    color: #FFF
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    background: #000
    position: absolute
    width: 68px
    height: 20px
    
.text2
    color: #FFF
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    background: #000
    position: absolute
    margin-left: 107px
    width: 117px
    height: 20px
    
.text3
    color: #FFF
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    background: #000
    position: absolute
    margin-left: 273px
    width: 71px
    height:20px

.text4
    color: #FFF
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    background: #000
    position: absolute
    margin-left: 371px
    width: 67px
    height: 20px
    
.text5
    color: #FFF
    font-family: Montserrat
    font-size: 16px
    font-style: normal
    font-weight: 500
    line-height: normal
    background: #000
    position: absolute
    margin-left: 483px
    width: 78px
    height: 20px

.text6
  color: #FFF
  text-align: center
  font-family: Montserrat
  font-size: 16px
  font-style: normal
  font-weight: 500
  line-height: normal
  margin-top: 270px

.text7
  width: 789px
  height: 111px
  color: #FFF
  text-align: center
  font-family: Montserrat
  font-size: 48px
  font-style: normal
  font-weight: 800
  line-height: 134.09%
  margin-left: 545px
  margin-top: 20px

.a1
  width: 200px
  height: 45px
  border-radius: 30px
  background: var(--Accent, #4985FF)
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25)
  color: #FFF
  text-align: center
  font-family: Montserrat
  font-size: 16px
  font-style: normal
  font-weight: 500
  line-height: normal
  margin-left: 860px
  margin-top: 50px
  cursor: pointer