@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #c9c9c9
}

.conteiner {
  width: 1920px;
  height: 5643px;
  background: #FFF;
  margin: 0 auto;
}

.header {
  width: 1920px;
  height: 900px;
  position: relative;
}

.line {
  width: 1920px;
  height: 1px;
  background: #A1A1A1;
  margin-top: -801px;
  z-index: 2;
  position: absolute;
}

.line-1 {
  width: 107px;
  ;
  height: 2px;
  background: #fff;
  position: absolute;
  margin-top: -801px;
  z-index: 2;
  margin-left: 932px;
}

.nav {
  height: 20px;
  width: 661px;
  position: relative;
  z-index: 2;
  margin-top: -860px;
  margin-left: 952px;
}

.text1 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  Width: 68px;
  Height: 20px;
}

.text2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  margin-left: 107px;
  Width: 117px;
  Height: 20px;
}

.text3 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  margin-left: 273px;
  Width: 71px;
  Height: 20px;
}

.text4 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  margin-left: 371px;
  Width: 67px;
  Height: 20px;
}

.text5 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  margin-left: 483px;
  Width: 78px;
  Height: 20px;
}

.text6 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 270px;
}

.text7 {
  width: 789px;
  height: 111px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 134.09%;
  margin-left: 545px;
  margin-top: 20px;
}

.a1 {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background: var(--Accent, #4985FF);
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 50px;
  margin-left: 860px;
  cursor: pointer;
}

.section-1 {
  width: 100%;
  height: 1500px;
}

.box1 {
  height: 703px;
  width: 100%;
}


.text-a1 {
  width: 739px;
  height: 93px;
  color: var(--dark, #323232);
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  position: absolute;
  margin-top: 110px;
  margin-left: 590px;
}

.text-a2 {
  width: 730px;
  height: 54px;
  color: var(--grey, #999);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  position: absolute;
  margin-left: 595px;
  margin-top: 235px;
}

.img-box {
  width: 1113px;
  height: 139px;
  display: flex;
  justify-content: space-between;
  margin-top: 359px;
  margin-left: 405px;
  position: absolute;
}

.a2 {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background: var(--Accent, #4985FF);
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  cursor: pointer;
  margin-top: 553px;
  margin-left: 860px;
  cursor: pointer;
}

.box2 {
  height: 793px;
  width: 100%;
  background: #F6F6F8;
  position: relative;
}

.text-a3 {
  width: 424px;
  height: 88px;
  color: var(--dark, #323232);
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  position: absolute;
  margin-top: 152px;
  margin-left: 405px;
}

.text-a4 {
  color: var(--grey, #999);

  /* p>h2 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  /* 25.355px */
  width: 489px;
  height: 85px;
  position: absolute;
  margin-top: 300px;
  margin-left: 405px;
}

.text-a5 {
  color: var(--Accent, #4985FF);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  height: 20px;
  width: 223px;
  position: absolute;
  margin-top: 427px;
  margin-left: 405px;
}

.comp {
  position: absolute;
  margin-top: 100px;
  margin-left: 1015px;
}

.line-2 {
  width: 1110px;
  height: 1px;
  background: #E0E0E0;
  position: absolute;
  margin-left: 405px;
  margin-top: 590px;
}

.box-img-1 {
  width: 920px;
  height: 67px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 660px;
  margin-left: 500px;
}

.img-2 {
  width: 104px;
  height: 67px;
}

.section-2 {
  width: 100%;
  height: 1748px;
}

.box01 {
  width: 100%;
  height: 972px;
  position: relative;
}

.text-b1 {
  width: 540px;
  height: 88px;
  flex-shrink: 0;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  margin-top: 100px;
  margin-left: 405px;
  color: #FFF;
}

.pl {
  width: 100%;
  height: 490px;
  background: #5F12D0;
  position: absolute;
}

.button {
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background: #4985FF;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 113px;
  margin-left: 1351px;
  cursor: pointer;
}


.img-3 {
  position: absolute;
  margin-top: 258px;
  margin-left: 405px;
}

.img-4 {
  position: absolute;
  margin-top: 258px;
  margin-left: 785px;
}

.img-5 {
  position: absolute;
  margin-top: 258px;
  margin-left: 1165px;
}

.line-2 {
  height: 1px;
  width: 1110px;
  background: #E0E0E0;
  margin-top: 887px;
}

.box02 {
  width: 100%;
  height: 776px;
  background: #F6F6F8;
  position: relative;
}

.text-b2 {
  color: #000;
  text-align: center;
  width: 350px;
  height: 35px;
  /* h2 */
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  margin-top: 100px;
  margin-left: 785px;
  position: absolute;
}

.text-b3 {
  width: 730px;
  height: 41px;
  color: var(--grey, #999);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  /* 25.355px */
  margin-top: 163px;
  margin-left: 595px;
  position: absolute;
}

.img-box-2 {
  height: 255px;
  width: 1110px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 296px;
  margin-left: 405px;
}

.button1 {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  background: #4985FF;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  cursor: pointer;
  position: absolute;
  margin-top: 605px;
  margin-left: 860px;
}

.section-3 {
  height: 1495px;
  width: 100%;
  position: relative;
}

.bg {
  position: absolute;
}

.text-c1 {
  position: absolute;
  width: 470px;
  height: 35px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 146.28%;
  margin-top: 70px;
  margin-left: 738px;

}

.text-c2 {
  position: absolute;
  width: 730px;
  height: 15px;
  color: #FFF;
  text-align: center;
  margin-top: 135px;
  margin-left: 595px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  /* 25.355px */
}

.city {
  width: 970px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  position: absolute;
  margin-top: 220px;
  margin-left: 475px;
}

.border {
  width: 300px;
  height: 100px;
  border-radius: 200px;
  border: 0.5px solid #FFF;
  position: absolute;
  margin-top: 385px;
  margin-left: 810px;
  cursor: pointer;
}

.arrow {
  width: 60px;
  height: 60px;
  position: absolute;
  margin-left: 40px;
  margin-top: 20px;
}

.text-c3 {
  width: 150px;
  height: 19px;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 158.47%;
  /* 25.355px */
  margin-top: 41px;
  margin-left: 121px;
}

.line-3 {
  width: 1110px;
  height: 1px;
  background: #E0E0E0;
  position: absolute;
  margin-top: 735px;
  margin-left: 410px;
}

.ch-b {
  width: 730px;
  height: 177px;
  position: absolute;
  margin-left: 595px;
  margin-top: 820px;
}

.text-c4 {
  width: 350px;
  height: 17px;
  color: #000;
  text-align: center;

  /* h3 */
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 190px;
}

.text-c5 {
  width: 730px;
  height: 15px;
  color: #999;
  text-align: center;
  margin-top: 37px;
  /* p>h2 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  /* 25.355px */
}

.inp-bar {
  width: 489px;
  height: 45px;
  flex-shrink: 0;
  position: absolute;
  margin-top: 82px;
  margin-left: 120px;
}

.inp {
  width: 489px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #F2F2F2;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  position: absolute;
}

.text-c6 {
  width: 117px;
  height: 17px;
  flex-shrink: 0;
  position: absolute;
  color: #999;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  /* 20.601px */
  margin-top: 15px;
  margin-left: 33px;
}

.inp-btn {
  width: 190px;
  height: 45px;
  flex-shrink: 0;
  position: absolute;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0px 30px 30px 0px;
  background: #4985FF;
  box-shadow: 0px 0px 10px 0px rgba(111, 111, 111, 0.25);
  margin-left: 299px;
  cursor: pointer;
}

.section-4 {
  width: 1920px;
  height: 413px;
  background: #F6F6F8;
  position: absolute;
}

.ft1 {
  position: absolute;
  margin-top: 70px;
  margin-left: 405px;
}

.ft2 {
  position: absolute;
  margin-top: 70px;
  margin-left: 690px;
}

.ft3 {
  position: absolute;
  margin-top: 70px;
  margin-left: 975px;
}

.ft4 {
  position: absolute;
  margin-top: 70px;
  margin-left: 1260px;
}

.line-4 {
  width: 1110px;
  height: 1px;
  background: #E0E0E0;
  position: absolute;
  margin-left: 405px;
  margin-top: 338px;
}

.text-c7 {
  width: 386px;
  height: 15px;
  color: #999;
  text-align: center;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.47%;
  /* 20.601px */
  margin-top: 368px;
  margin-left: 767px;
}

/*# sourceMappingURL=style.css.map */